
    .card{
        font-size: 1rem;
        .cover{
            position: relative;
            overflow: hidden;
            height: 300px;
            width: 100%;
            margin-bottom: 1rem;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            display:block;
    
            img{
                position: absolute;
                width: 100%;
                height: 300px;
                object-fit: cover;
                left: 0;
                top: 0;
            }
            &:hover{
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }
        }
        
    }



@media (max-width: 768px){

    .card{
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
  
  }
