header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.95);
    z-index: 10;
    > .container{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        nav ul li{
            display: inline-block;
            padding-right: 20px;
            &:last-of-type{
                padding-right: 0;
            }
            
        }
    }
}
